img{
    width: 100%;
}

.uncle-gatas{
    transform: rotateY(180deg)
}

h2{
    font-size: 118px;
}

.col-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:460px){
    .center-div{
        z-index: 10000;
        margin-top: 40px;
    }
}