@font-face {
    font-family: 'VCRosd bold';
    src: url(../libs/fonts/VCRosdNEUE.ttf);
}
@font-face {
    font-family: 'VCRosd';
    src: url(../libs/fonts/VCR_OSD_MONO_1.001.ttf);
}

*{
    font-family: 'VCRosd'!important;
}