* {
	box-sizing: border-box;
}

body {
	margin: 0;
	box-sizing: border-box;
	background-color: #1E1E1E;
	color: #fff;
}

.challenges .container{
	background-color: #5cacee80;
	color: #FFFFFF;
	text-decoration: none;
}
