* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer{
    background-image: linear-gradient(to right, #51aff3, white);
    height: 60px;
}

.sobreocurso{
    background-color: rgb(40, 38, 38);
    color: white;
    font-size: 20px;

    
}

.sobreaplusplus{
    background-color: rgb(22, 21, 21);
    font-size: 20px;
    
    
}

.comofazemos{

    font-size: 20px;
    text-shadow: none;
    text-align: left;
    

}

.main-banner{
    background-image: url('../img/fundohexagonos.png');
    background-color: rgb(40, 38, 38);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.main-banner h2{
    font-size: 96px;
}
.main-banner .col-6{
        display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner #gattino{
    width: 35vw;
}
.gradient-font{
    background: linear-gradient(89.82deg, #5CACEE 0.11%, rgba(255, 255, 255, 0.81) 103.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

h3{
    font-size: 40px;
}

body{
    margin: 0;
    padding: 0;
    background-color:rgb(40, 38, 38);
    color: white;

}

p{
    text-align: justify;
    font-size: 17px;
    font-family: 'poppins'!important;
}

.col-md-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}