body{
	background-color: whitesmoke;
}
.main-banner{
    background-image: url('../img/fundohexagonos.png');
    background-color: whitesmoke;
    font-family: HW;
    background-position: center;
    text-align: center;
    font-size: 60px;
    padding: 65px 0;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 2px #000,-2px 2px 2px #000,2px -2px 2px #000,-2px -2px 2px #000;
    background-repeat: no-repeat;
    background-size: cover;
    
}

*{
    padding: 0;
    margin: 0;
}

#luciano{
	width: 100%;
}

#gattino{
	width: 100%;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: black;
    
}

.menu li{
    display: inline-block;

}

.menu li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

header img{
    margin-left: 20px;
    height: 50px;
}

.sobreocurso{
    background-color:whitesmoke;
    color:#000;
    text-shadow: none;
    text-align:left;

}

.sobreaplusplus{
    background-color: whitesmoke;
    color: #000;    text-shadow: none;
}

.comofazemos{
    background-color:whitesmoke;
    color: #000;
    text-shadow: none;
    text-align: left;

}

footer{
    background-color: black;
    height: 9vh;
    width: 100%;
    display: flex;  
}



.primeira{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    
}

.segunda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    
}

.terceira{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    
}

#textocurso{
    text-align:justify;
    
}

.textoplusplus{
    text-align:center;
    margin-right: 50px;
}

.textocomofazemos{
    text-align:justify;
    margin-right: 50px;
}

#LogoSI{
	height: 150px;
}