* {
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #1E1E1E;
    color: #fff;
}

.challenges .container {
    background-color: #5cacee80;
    text-decoration: none;
    color: #FFFFFF;
}

p {
    color: #fff;

}


.content {
    font-size: 17px;
    text-align: justify;
}

li {
    list-style: none;
}

.btn-footer {
    width: 15%;
    max-width: 200px;
    background-color: #2878F0;
    color: #000;
}

.btn-footer:hover {
    background-color: #2878F0;
    color: #000;
}

.btn-correct {
    background-color: #E4E4E4;
    color: #000;
}

.title {
    font-size: 2.5rem;
    color: #fff;
}


header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: black;

}

.menu li {
    display: inline-block;

}

.menu li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

header img {
    margin-left: 20px;
    height: 50px;
}

.loading-bar {
    position: fixed;
    /* width: 87%; */
    bottom: 20px;
}

footer {
    display: none;
}

.button-chellange {
    background-color: transparent;
    border: 1px solid #7E23BE;
    color: #7E23BE;
}

.button-chellange:hover {
    background-color: #7E23BE;
    color: #FFFFFF;
}

.selected {
    background-color: #2878F0;
    color: #FFFFFF;
}

.variavel-input {
    outline: 0;
    border: 0;
    width: 20%;
    border-bottom: 1px solid #fff;
    color: white;
    background: transparent;
}

.btn-next {
    padding: 5px 31px;
    border-radius: 25px;
    background-color: #5CACEE;
    border-color: #5CACEE;
}

.btn-next:hover {
    background-color: #4a8abf;
    border-color: #4a8abf;
}

.btn-blue {
    padding: 5px 31px;
    border-radius: 25px;
    background-color: #5CACEE;
    border-color: #5CACEE;
}

.btn-blue:hover {
    background-color: #4a8abf;
    border-color: #4a8abf;
}

.btn-back {
    padding: 5px 31px;
    border-radius: 25px;
    background-color: #5CACEE;
    border-color: #5CACEE;
}

.btn-back:hover {
    background-color: #4a8abf;
    border-color: #4a8abf;
}

.btn-correction {
    padding: 5px 31px;
    border-radius: 25px;
}

input {
    background-color: transparent !important;
    color: #fff !important;
    border-color: transparent !important;
    border-bottom-color: #fff !important;
}

.input-group-text {
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
}

.form-control::placeholder {
    color: #fff !important;
}

.price-chest {
    width: 170px;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 2s infinite;
}

@keyframes shake {
    0% {
        filter: drop-shadow(0 0 0 rgba(255, 177, 66, 0.7));
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
        filter: drop-shadow(0 0 30px #ffb0423d);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
        filter: drop-shadow(0 0 0 #ffb14200);
    }
}

.swal2-popup {
    background-color: #222222;
    color: #fff;
}

#lampada-or{
	height: 250px;
	transition: opacity 1s;
}

.switch{
	border: 0;
	background-color: #7E23BE!important;
}

.container-selecao-7{
	height: 100vh;
}

.container-selecao-8{
	height: 100vh;
}
.form-switch{
    padding: 0!important;
    margin: 0!important;
}
.form-check .form-check-input{
    float: none;
    margin: 0 -3px 0px 0!important;
    height: 1.8em;
    width: 3.5em;
}

.svg.d-flex{
    justify-content: center;
}

.switch-line.d-flex{
    align-items: center;
}

.logical{
    margin-left: -26px;
    align-self: center;
}

.logical-and{
    margin-left: -16px;
    align-self: center;
}

dl *{
    font-weight: normal;
}

.text-bg-purple{        
    border: solid 3px #7E23BE;
    height: 30px;
    width: 70px;
    display: inline-block!important;
    margin-bottom: -5px;
}